h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .title;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .is-#{$i};
  }
}

.section {
  background: none;
}

.container {
  &.is-spaced {
    margin-bottom: 3em;
    margin-top: 3em;
  }
}

.nav {
  .nav-item {
    &.is-brand {
      font-size: 120%;
      font-weight: bold;
    }
  }
}
