.hub {
  overflow-x: hidden;

  .hub-header__content {
    display: flex;
    height: 150px;
    align-items: center;
    margin: 0 1em;

    .header-logo {
      position: relative;
      background-image: url('/assets/images/ae_logo.png');
      width: 300px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;

      @media all and (max-width: 400px) {
        width: 200px;
        height: 50px;
      }
    }
  }

  .hub-header__band {
    width: 100%;
    height: 0;
    display: flex;
    transform: rotate(-8deg) scale(2.5) translateY(-170px);

    @media all and (max-width: 1000px) {
      transform: rotate(-7deg) scale(2.5) translateY(-140px);
    }

    &:before {
      content: '';
      display: block;
      height: 20vh;
      min-height: 150px;
      background-color: $aegold;
      height: 100%;
      width: 60%;
      transform: rotate(3deg) scale(1.05) translateY(-15%);
    }

    &:after {
      content: '';
      display: block;
      height: 20vh;
      min-height: 150px;
      background-color: $aeblue;
      height: 100%;
      width: 40%;
    }
  }

  .hub__header {
    margin-bottom: 50px;
  }

  .hub__classes {
    box-shadow: none;
    padding: 1.5em 2em;
  }
}

.ember-google-map {
  width: 500px;
  height: 500px;
}
