<tr>
  <td>{{@model.hubClass.classInformation.name}}</td>
  <td>{{@model.participants.length}}</td>
  <th>{{@model.participants.length}}</th>
  <th>Participant ($)</th>
  <th>Additional Participant ($)</th>
  <th>Total ($)</th>
</tr>