<tr>
  <td>{{@model.organization}}</td>
  <td>{{@model.displayName}}</td>
  <td>{{@model.email}}</td>
  <td>
    <a href="#" class="text-danger" {{on "click" (prevent-default (fn @onDelete @model))}}>
      <i class="fa fa-fw fa-trash"></i>
    </a>
  </td>
</tr>
