///////////////////////////
// Calendar Styles
///////////////////////////

$cal-active-state-shadow: 0 1px 10px rgba(lighten($black, 10%), 0.5);

.cal__component {
  position: relative;
  width: 90%;
  margin: 1em auto;

  .cal__controls {
    font-size: 1.3em;
    margin: 14px 0;
    text-align: center;

    > .cal__label-month {
      margin: 0 5px;
    }
  }

  .cal__calendar-view {
    &.cal__calendar-view--warning .cal__avail-button--active {
      background-color: $danger !important;
    }

    .cal__list-day-labels {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      @media (max-width: $screen-md) {
        display: none;
      }

      > li {
        text-align: center;
        font-size: 0.7em;
        flex: 1 1 auto;
        width: 100%;
        margin: 0;
        padding: 0 0 1em 0;
      }
    }

    .cal__list-days {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      @media (max-width: $screen-md) {
        flex-wrap: wrap;
      }

      > .cal__day {
        background-color: $white;
        border: 1px solid $gray;
        height: 150px;
        width: 100%;
        overflow: auto;
        position: relative;
        transition: all .2s ease-in-out;
        flex: 1 1 auto;

        .cal__unavail-day{
          text-align: center;
          transform: translateY(50%);
          color: $gray;
        }
        .cal__avail-list {
          margin-top: 20px;
          padding: .5em .8em;

          .cal__avail-button {
            @include clearfix;
            display: block;
            width: 100%;
            height: 26px;
            padding: 0 0.5em;
            font-size: .7em;
            font-weight: 800;
            text-align: left;
            transition: all .3s ease-in-out;

            .cal__block-label--minimal {
              display: none;
              visibility: hidden;
            }


            @media all and (min-width: 770px) and (max-width: 1180px) {
              .cal__block-label--extended {
                display: none;
                visibility: hidden;
              }

              .cal__block-label--minimal {
                display: inline-block;
                visibility: visible;
              }
            }

            &:not(:last-child) {
              margin-bottom: 2px;
            }

            &.cal__avail-button--active {
              background-color: $success;
              box-shadow: $cal-active-state-shadow;
              color: $white;
              border-color: transparent;
            }

            &.cal__avail-button--no-seats {
              background-color: darken($gray, 15%);
              color: $black;
              border-color: transparent;
            }

            &.cal__avail-button--unsuitable {
              box-shadow: $cal-active-state-shadow;
              background-color: $gray;
              color: darken($gray, 15%);
              cursor: not-allowed;
              border-color: transparent;
            }

            .cal__avail-seats {
              font-weight: 400;
              float: right;
            }
          }

        }
      }

      > .cal__day:hover {
        box-shadow: $cal-active-state-shadow;
        z-index: 1;
      }

      > .cal__day.cal__gray {
        color: $gray;
      }

      > .cal__day .cal__label-day {
        float: right;
        font-size: 90%;
        margin: 2px 4px;
        text-align: center;
      }

      > .cal__day ul.cal__list-events {
        margin: 22px 5px 0;

        > li.cal__event {
          background-color: $success;
          border: 1px solid $white;
          color: $white;
          cursor: pointer;
          font-size: .6em;
          padding: 1px 2px;
          transition: all .35s ease-in-out;

          &.cal__event-focused {
            background: $info;
            box-shadow: $cal-active-state-shadow;
          }
        }
      }
    }
  }
}

button.cal__avail-button {
  display: flex;
}
