.class__card {
  position: relative;
  border: 1px solid $gray;
  margin-bottom: 1.5em;
  padding: .8em;
  border-radius: .3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba($black, .3);

  strong {
    transition: all .3s ease-in-out;
  }

  &:hover {
    background-color: rgba($aeblue, 0.7);
    color: white;
    box-shadow: 0 2px 2px rgba($black, .5);
    padding-top: 30px;

    strong {
      color: white;
    }

    .class-card__hover-help {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .class-card__hover-help {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
    display: flex;
    text-align: center;
    vertical-align: center;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .class__times {
  //   // width: 50%;
  // }
  // .class__seats {
  //   // width: 50%;
  // }

  .class__name {
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    .class-name__organization{}
  }

  .class__location {
    width: 100%;
  }

  .class__instructor{

  }
}
