<div class="segment container is-spaced">
  <h2>
    Upcoming classes
  </h2>

  {{#each this.model as |class|}}
    {{log "HEY!!!!" class}}

    <Hub::Lists::HubClassItem @model={{class}}/>
  {{/each}}
</div>
