<div class="segment container is-spaced hub__classes">
  <div class="level">
    <h2 class="level-left">
      Upcoming classes
      
    </h2>
    <span class="level-right">
      <a href="https://www.associatedemployers.org/membership/benefits-of-membership/" rel="noopener noreferrer" target="_blank">
        Learn more about becoming a member...
      </a>
    </span>
  </div>
{{log this.cart.state}}
  {{#each this.model as |class|}}
    <Hub::Lists::HubClassItem
      @model={{class}}
      @inCart={{contains class this.cart.state.items}}
      @onRegister={{this.register}} />
  {{/each}}
</div>
