{{#bulma-nav}}
  <div class="nav-center">
    {{#active-link class="nav-item is-brand"}}
      {{#link-to 'index'}}
        Safely
      {{/link-to}}
    {{/active-link}}
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    {{#if auth.authenticated}}
      {{#if auth.user.administrative}}
        {{#link-to 'registrations' class="nav-item"}}
          Registrations
        {{/link-to}}
        {{#link-to 'available-times' class="nav-item"}}
          Availability Configuration
        {{/link-to}}
        {{#link-to 'classes.blackouts' class="nav-item"}}
          Blackout Configuration
        {{/link-to}}
        {{#link-to 'users' class="nav-item"}}
          Users
        {{/link-to}}
        {{#link-to 'classes.index' class="nav-item"}}
          Classes
        {{/link-to}}
        <span class="nav-item">
          {{#link-to 'register' class="button is-success"}}
            Register
          {{/link-to}}
        </span>
        <span class="nav-item">
          {{#link-to 'hub-administration' class="button is-warning"}}
          Hub Administration
          {{/link-to}}
        </span>
      {{else}}
        {{#link-to 'index' class="nav-item"}}
          Dashboard
        {{/link-to}}
        {{#link-to 'registrations' class="nav-item"}}
          Registrations
        {{/link-to}}
        <span class="nav-item">
          {{#link-to 'register' class="button is-success"}}
            Register
          {{/link-to}}
        </span>

        <a href="/assets/pdf/Safely Instructions - Website.pdf" class="nav-item" download>
          Help
        </a>
      {{/if}}
    {{else}}
      {{#link-to 'hub' class="nav-item"}}
        AE/MSSC Classes
      {{/link-to}}
    {{/if}}
  </div>
{{/bulma-nav}}
