<span class="cal__label-day">{{time day.date 'Do'}}</span>
<div class="cal__avail-list">
  {{#if dayAvailabilities}}
    {{#each dayAvailabilities as |block|}}
      {{calendar/x-block block=block activeBlocks=activeBlocks focusBlock=focusBlock unfocusBlock=unfocusBlock date=day.date registerWarning=registerWarning onClick=register}}
    {{/each}}
  {{else}}
  <i class="fa fa-fw fa-university"></i>
  <div>Training Lab Closed</div>
  {{/if}}
</div>
