<span class="cal__label-day">{{time day.date 'Do'}}</span>
<div class="cal__avail-list">
  {{#each dayAvailabilities as |block|}}
    {{calendar/x-block block=block activeBlocks=activeBlocks focusBlock=focusBlock unfocusBlock=unfocusBlock date=day.date}}
  {{/each}}
</div>
