<h1 class="has-text-centered">Registered</h1>

<h3>Please check your email for a confirmation. Participants with emails should also recieve a class information email.</h3>


<LinkTo @route="hub.index" class="button is-primary is-large is-fullwidth">
  Go back to class listings
</LinkTo>
