<div>
  <h2>Your Information</h2>
  <hr />
  <Hub::RegisterCompanyForm @model={{this.model.registration}} />
  <hr />

  {{this.model.registration.email}}
</div>

<div>
  <h2>Class & Participant Information</h2>
  <hr />
</div>
{{#each this.model.cart as |classItem|}}
  <div class="register__class-registration">
    <Hub::Lists::RegisterClassInformation
      @model={{classItem}}
      @mapStyle={{this.mapStyle}} />
    <Hub::RegisterParticipantForm />
  </div>
{{/each}}
