<div class="segment container is-spaced">
  <div class="level">
    <LinkTo @route="hub-administration.class.add" class="level-left">
      <i class="fa fa-fw fa-plus"></i> Add Class/Webinar
    </LinkTo>
    <LinkTo @route="hub" target="_blank" class="level-right">
      <i class="fa fa-fw fa-external-link"></i> Open Class Hub
    </LinkTo>
  </div>
  <hr />
  {{#if this.model}}
    <table class="table">
      <thead>
        <tr>
          <th>Org</th>
          <th>Name/Description</th>
          <th>Instructor</th>
          <th>Location</th>
          <th>Seats</th>
          <th>Times</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model as |class|}}
          <Hub::Lists::AdminClassItem @model={{class}} @onDelete={{fn this.deleteClass}} />
        {{/each}}
      </tbody>
    </table>
  {{else}}
    No classes available.
  {{/if}}
</div>
