<div class="segment container is-spaced">
  {{#bulma-nav}}
    <div class="nav-left">
    </div>

    <div class="nav-center">
      <span class="nav-item is-brand">{{if adding 'Adding Class' 'Classes'}}</span>
    </div>

    <div class="nav-right nav-menu"></div>
  {{/bulma-nav}}
  <hr />

  {{outlet}}
</div>
