<div class="hub">
  <div class="hub__header">
    <div class="hub-header__content">
      <div class="header-logo"></div>
    </div>
    <div class="hub-header__band"></div>
  </div>
  {{outlet}}
</div>
