<h2 class="has-centered-text">Hello, {{auth.user.name.first}}</h2>
{{!-- {{as-calendar
  title="Training Registrations"
  occurrences=model
  defaultTimeZoneQuery="Denver"
  dayStartingTime="8:00"
  dayEndingTime="18:00"
  timeSlotDuration="02:00"
  }} --}}
