<div class="index__container">
  <div class="index__hero">
    <div class="index-hero__content">
      <h1>Hello, {{auth.user.name.first}}</h1>
      <h3>Click on items in the navigation above to get started.</h3>
    </div>
  </div>
</div>
